<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rsoi!</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Seance Details</h2>
    <div>
        <form class="form-horizontal" th:object="${seance}" th:action="@{/movie/}+${seance.movieId}+'/seance/'"
              th:method="post">
            <input type="hidden" th:field="*{movieId}"/>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" th:field="*{date}"/>
                </div>
                <div class="col-sm-3">
                    <span class="text-danger">
                        <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date error</p>
                    </span>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>